#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar-collapse {
  flex-basis: 90%;
}

.general{

  background-color: #ffffff70;
  padding: 20px;
  border-radius: 20px;
  border: 15px solid rgba(0, 0, 0, 0.747);
  
  p{
    font-weight: bolder;
    font-style: oblique;
    background: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
  }
}

.carta{

  margin-top: 10%;
  padding: 20px;
}

.mt4{
  display: grid;
  grid-template-columns: 2;
}

.row{
  justify-content: center;
}

.reservas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.noticias{
  background-color: #e0e0e0;
}

.card {
  padding: 2em;
  margin: 5px;
  border: 15px solid rgba(0, 0, 0, 0.747);
  background-color: #f8f8f8d3;
}

.read-the-docs {
  color: #888;
}

body {
  background-image: url(/cocteles.jpg);
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}







.cantidad-personas-selector {
  display: flex;
  margin: 5%;
  flex-direction: column;
}
.cantidad-personas{
  display: flex;
    justify-content: space-evenly;
}
.opcion {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.opcionNull{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.preferencia{
  width: 60px;
}
.opcion.seleccionada {
  background-color: #000000;
  color: #fff;
}